package templates

templ about() {
	<div class="w-3xl h-dvh mt-32">
		<h1>Hi there!</h1>
		<p class="pt-2">
			My name is uhkay. I'm a software engineer, particularly interested in web development and embedded systems. I like to learn new things and solve problems.
		</p>
	</div>
}

templ About() {
	@Layout(about())
}
