package templates

templ navbar() {
	<nav>
		<ul class="flex gap-3 p-4 [&>li>a]:hover:text-ctp-green">
			<li><a href="/">home</a></li>
			<li><a href="/static/projects.html">projects</a></li>
			<li><a href="/static/about.html">about</a></li>
		</ul>
	</nav>
}
