package templates

templ navbar() {
	<nav class="bg-[#1e1e2e]">
		<ul class="flex gap-3 p-4">
			<li class="text-white hover:text-blue-300"><a href="/">home</a></li>
			<li class="text-white hover:text-blue-300"><a href="/blog">blog</a></li>
			<li class="text-white hover:text-blue-300"><a href="/about">about</a></li>
		</ul>
	</nav>
}
